<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Almanza</title>
    <link rel="stylesheet" href="../CSS/home.css">
</head>
<header class="hamburguesa"> 
    <button>Exit</button>
    <button class="boton"><i class="fas fa-bars"></i></button>
</header>
<body>
    <h1>El famoso resto bar de Puerto Almanza abre sus puertas!</h1>
</body>
</html>